.page-title {
    h1 {
        font-size: 18px;
        color: #055699;
        font-weight: bolder;
    }

    span {
        color: #8f8f8f;
        font-size: 12px;
    }

    p {
        color: #333;
        font-size: 12px;
        font-weight: normal;
    }
}