.page-title {
    h1 {
        font-size: 18px;
        color: #055699;
        font-weight: bolder;
    }

    span {
        color: #8f8f8f;
        font-size: 12px;
    }

    p {
        color: #333;
        font-size: 12px;
        font-weight: normal;
    }
}

.related-news {
    list-style-type: square;
}

.text-default {
    color: #055699;
}

.content-news {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }
}

a:hover {
    text-decoration: none;
}

.search-news {
    input {
        min-width: 350px;
    }
}