@import '~react-draft-wysiwyg/dist/react-draft-wysiwyg.css';

#project-create-form-container {
    .crdw-editor-wrapper {
        border: 1px solid #e2e2e2;
    }

    .rdw-editor-main {
        background: #fff;
        padding: 5px;
        margin-top: -4px;
        min-height: 300px;
    }

    .tab-content-types-wrapper {
        width: 200px;
        border: 1px solid #ccc;
        padding: 0;
        background: #fff;

        li {
            list-style: none;
            width: 100%;
            border-bottom: 1px solid #ccc;
            padding: 5px 10px;
            cursor: pointer;

            span {
                margin-right: 0.8rem;
            }

            &:last-child {
                border: none;
            }

            &:hover {
                background: #def0ff;
            }
        }
    }
}
